{layout name="common" /}

    <div class="statsRow titleArea">
        <div class="wrapper">
        
            <div class="horControlB">
                <ul>
                    <li><a href="{:url('create')}" title=""><img src="__STATIC__/images/icons/control/16/hire-me.png" alt=""><span>添加</span></a></li>
                    <li><a href="#" title=""><img src="__STATIC__/images/icons/control/16/pencil.png" alt=""><span>编辑</span></a></li>
                </ul>
            </div>
        
        </div>
    </div>

    
    <div class="line"></div>


    <!-- Main content wrapper -->
    <div class="wrapper">
    
        <!-- Note -->
        <div class="nNote nInformation hideit">
            <p>
                <strong>提示: </strong> 卡密充值 [ <a href="{:url('create')}" title="点击添加" class="tipS" >点击添加</a> ] 
            </p>
        </div>
    
        <!-- Media table -->
		<div class="widget">
			<div class=" oneTwo" style="padding:5px;">
                <div class="title">
                    <img src="__STATIC__/images/icons/dark/money2.png" alt="" class="titleIcon">
                    <h6>购买公告</h6>
                </div>
                <div class="wInvoice">
                    <div>
						<a href="#" title="" class="wContentButton bluewB">立即购卡</a>
                    </div>

                    <div>
                    	卡密分为VIP卡、充值卡和配额卡，都是在这个页面购买并激活。<br>
						如有问题请联系站长QQ：1329459913
                    </div>

                </div>
            </div>

			<div class=" oneTwo" style="padding:5px;">
                <div class="title">
                    <img src="__STATIC__/images/icons/dark/money2.png" alt="" class="titleIcon">
                    <h6>卡密激活</h6>
                </div>
                <div class="wInvoice">
                	<form action="" method="post" class="form">
		                <fieldset>
							<div class="formRow">
		                        <label>卡号:</label>
		                        <div class="formRight"><input type="text" value=""></div>
		                    </div>
	                    </fieldset>
                    </form>
                    <div>
						<a href="#" title="" class="wContentButton bluewB">激活</a>
                    </div>

                </div>
            </div>
        </div>

   <!--  -->
    </div>
    
 
    
