    <!-- Left navigation -->
    <ul id="menu" class="nav">
        <!-- <li class="dash"><a href="{:url('Index/index')}" title="" class="active"><span>首页</span></a></li> -->
        <li class="dash"><a href="{:url('Index/index')}" title="" ><span>首页</span></a></li>
        <li class="charts"><a href="{:url('Account/index')}" title=""><span>账号管理</span></a></li>
        <li class="ui"><a href="{:url('App/index')}" title=""><span>自动签到</span></a></li>
        <li class="forms"><a href="{:url('Account/index')}" title=""><span>自助购买</span></a></li>
        <li class="errors"><a href="{:url('Pay/index')}" title=""><span>卡密充值</span></a></li>
        <!-- <li class="widgets"><a href="{:url('Account/index')}" title=""><span>系统设置</span></a></li> -->
    </ul>