{layout name="common" /}


    <div class="statsRow titleArea">
        <div class="wrapper">
        
            <div class="horControlB">
                <ul>
                    <li><a href="{:url('create')}" title=""><img src="__STATIC__/images/icons/control/16/hire-me.png" alt=""><span>添加</span></a></li>
                    <li><a href="#" title=""><img src="__STATIC__/images/icons/control/16/pencil.png" alt=""><span>编辑</span></a></li>
                </ul>
            </div>
        
        </div>
    </div>

    
    <div class="line"></div>